{{ if .Site.Data.homepage.contact.enable }}
<section id="contact" class="section section--contact pt-0">
    <div class="container">
        <div class="contact">
            <h2>{{ .Site.Data.homepage.contact.title }}</h2>
            <p>{{ .Site.Data.homepage.contact.info }}</p>

            <form name="book-in" class="" method="post" netlify netlify-honeypot="bot-field"
                data-netlify-recaptcha="true">
                <div class="row">
                    <div class="col-sm-10 mx-auto">
                        <div class="form-row">
                            <h3 class="py-2">Your Details</h3>
                        </div>
                        <div class="form-row py-1">
                            <div class="col-5">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Name</span>
                                    </div>
                                    <input name="Name" class="form-control" id="name" type="text" required>
                                </div>
                            </div>
                            <div class="col-5 mx-auto">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Company</span>
                                    </div>
                                    <input name="Company" class="form-control" id="company" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="form-row py-1">
                            <div class="col-11">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Address</span>
                                    </div>
                                    <textarea name="Address" id="customer_address" type="textarea" class="form-control"
                                        required maxlength="260"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-row py-1">
                            <div class="col-5">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Postcode</span>
                                    </div>
                                    <input name="Postcode" class="form-control" id="postcode" type="text" required />
                                </div>
                            </div>
                            <div class="col-5 mx-auto">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Country</span>
                                    </div>
                                    <input name="Country" class="form-control" id="country" type="text" />
                                </div>
                            </div>
                        </div>
                        <div class="form-row py-1">
                            <div class="col-5">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Phone Number</span>
                                    </div>
                                    <input name="PhoneNumber" id="phone_number" type="tel" class="form-control"
                                        required />
                                </div>
                            </div>
                            <div class="col-5 mx-auto">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Email Address</span>
                                    </div>
                                    <input name="Email" id="email" type="email" class="form-control" required />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10 mx-auto">
                        <div class="form-row">
                            <h3 class="py-2"> Your Device </h3>
                        </div>
                        <div class="form-row py-1">
                            <div class="col-5">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Device Make</span>
                                    </div>
                                    <input name="Devicemake" id="device_make" type="text" class="form-control"
                                        required />
                                </div>
                            </div>
                            <div class="col-5 mx-auto">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Device Model</span>
                                    </div>
                                    <input name="Devicemodel" id="device_model" type="text" class="form-control"
                                        required />
                                </div>
                            </div>
                        </div>

                        <div class="form-row py-1">
                            <div class="col-5">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Device Type</span>
                                    </div>
                                    <select name="Device Type" id="device_type" class="form-control" size="1" required>
                                        <option value="null" selected disabled hidden></option>
                                        <option value="Battery">Battery Powered Drill</option>
                                        <option value="Desk">Mains Powered Drill</option>
                                        <option value="Handpiece">Handpiece Only</option>
                                        <option value="Desk Lamp">Desk Lamp</option>
                                        <option value="UV / LED Lamp">UV / LED Lamp</option>
                                        <option value="Dust Collector">Dust Collector</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-5 mx-auto">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Serial Number</span>
                                    </div>
                                    <input name="Serialnumber" id="serial_number" type="text" class="form-control" required />
                                </div>
                            </div>
                        </div>

                        <div class="form-row py-1">
                            <div class="col-11">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Comments</span>
                                    </div>
                                    <textarea name="Comments" id="comments" type="textarea" class="form-control" required
                                        maxlength="400"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="form-row py-1">
                            <div class="col-4">Preapproved cost:</div>

                            <div class="col-4">
                                <div class="custom-control custom-control-inline">
                                    <input type="checkbox" id="40below" name="£40" class="custom-control-input" />
                                    <label class="custom-control-label" for="40below">£40 or less</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="custom-control custom-control-inline">
                                    <input type="checkbox" id="80below" name="£80" class="custom-control-input" />
                                    <label class="custom-control-label" for="80below">£80 or less</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row py-1">
                            <div class="col-4">In warranty?</div>
                            <div class="col-4">
                                <div class="custom-control custom-control-inline">
                                    <input type="checkbox" id="warranty" name="warranty" class="custom-control-input" />
                                    <label class="custom-control-label" for="warranty"></label>
                                </div>
                            </div>
                        </div>
                        <p style="visibility: hidden;">
                            <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
                        </p>
                    </div>
                </div>
                <div class="row py-1">
                    <div class="col-sm-10 mx-auto">
                        <div class="form-row">
                        <div class="col-5">
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                                    <label class="form-check-label" for="invalidCheck">
                                        By using our service you consent to our <a href=terms.html>terms and conditions.</a>
                                    </label>
                                    <div class="invalid-feedback">
                                        You must agree before submitting.
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-5 mx-auto">
                            <div data-netlify-recaptcha="true"></div>
                            <button class="btn btn-success" type="submit">Print Your Label</button>
                        </div>
                    </div>
                    </div>
                </div>
            </form>
            

  
            <h2 class="py-2">Get in touch</h2>
            <p>
                Feel free to get in touch using the channels below. However we do not book in repairs over the phone, please use the form above.</p>
            </p>
        
            <div class="row">
                    <div class="col-5">
                        <h4>{{ .Site.Data.homepage.contact.phone.title }}</h4>
                        <p>{{ .Site.Data.homepage.contact.phone.number }}</p>
                        <h4>{{ .Site.Data.homepage.contact.email.title }}</h4>
                        <p><a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#105;&#110;&#102;&#111;&#64;&#99;&#104;&#105;&#114;&#111;&#112;&#111;&#100;&#121;&#100;&#114;&#105;&#108;&#108;&#114;&#101;&#112;&#97;&#105;&#114;&#115;&#46;&#99;&#111;&#46;&#117;&#107;">&#105;&#110;&#102;&#111;&#64;&#99;&#104;&#105;&#114;&#111;&#112;&#111;&#100;&#121;&#100;&#114;&#105;&#108;&#108;&#114;&#101;&#112;&#97;&#105;&#114;&#115;&#46;&#99;&#111;&#46;&#117;&#107;</a></p> 
                    </div>
                    <div class="col-5 mx-auto">
                        <h4>{{ .Site.Data.homepage.contact.address.title }}</h4>
                        <address>{{ .Site.Data.homepage.contact.address.address | safeHTML }}</address>
                    </div>   
            </div>
        </div>
        </div>
        
    </div>
</section>
{{ end }}