{{ if .Site.Data.homepage.promotion.enable }}
<section class="section rad-animation-group">
  <div class="container">
    <div class="row rad-fade-down">
      <div class="col-1 col-md-1 mb-md-0"></div>
      <div class="col-10 col-md-10 mb-md-0">
        <h2 class="text-center rad-fade-down">Promotional Offer</h2>
      </div>
    </div>
    <div class="row rad-fade-down">
      <div class="col-1 col-md-1 mb-md-0"></div>
      <div class="col-10 col-md-10 mb-md-0">
        <h3 class="text-center rad-fade-down">20% Off All Servicing</h3>
      </div>
    </div>
      <div class="row rad-fade-down">
        <div class="col-1 col-md-1 mb-md-0"></div>
        <div class="col-10 col-md-10 mb-md-0">
          <p class="text-center">Valid until 10th November</p>
      </div>
      </div>
      <div class="row rad-fade-down">
        <div class="col-1 col-md-1 mb-md-0"></div>
        <div class="col-10 col-md-10 mb-md-0">
          <p class="text-center"> Includes compact, suction and spray devices. 20% Off service costs listed above for a limited time. Discount will not be applied on repairs outside of the scope of basic maintainence or a service. Service includes a thorough clean, replacement of wear and tear parts - bearings and cables. Repairs booked in between 28 October and 10 November will be automatically granted the 20% discount. Book in via the form at the bottom of the page. 
          </p>
        </div>
      </div>
  </div>
</section>
{{end}}