{{ if .Site.Data.homepage.testimonial.enable }}
<section class="section rad-animation-group">
    <div class="container">
        <div class="row rad-fade-down">
            <div class="col-1 col-md-1 mb-md-0"></div>
            <div class="col-10 col-md-10 mb-md-0">
            <h2 class="text-center rad-fade-down">Service Updates</h2>
            </div>
        </div>
        <div class="row rad-fade-down">
            <div class="col-1 col-md-1 mb-md-0">
                <p class="text-center"> </p>
            </div>
            <!--<div style="display: none;">-->
            <div class="col-10 col-md-10 mb-md-0" >
                <!--<p class="text-center"></p>-->
                <p class="text-center">Current expected lead time: 2 weeks.</p>
            </div>
            <!--</div>-->

</div>
<div class="row rad-fade-down">
            <div class="col-1 col-md-1 mb-md-0"></div>
            <div class="col-10 col-md-10 mb-md-0">
                <p class="text-center"> We no longer support devices over 6 years old - please check manufacture dates on the back of your unit before sending any device in. This is due to added difficulty and cost in sourcing parts thanks to our leaving the EU, alongside an abnormally large workload. We shall continue to fully support Hadewe and Saeyang drills, servicing is still available on other devices but please be aware if any parts are needed from the original equipment manufacturer they may take weeks to months to arrive, and also be more expensive due to import taxes. </p>
        </div>
</div>
<div class="">
<div id="ImportantInfo" class="d-none">
<div class="row rad-fade-down">
            <div class="col-1 col-md-1 mb-md-0"></div>
            <div class="col-10 col-md-10 mb-md-0">
            <h2 class="text-center rad-fade-down">Important Information</h2>
            </div>
</div>

<div class="row rad-fade-down">
            <div class="col-1 col-md-1 mb-md-0"></div>
            <div class="col-10 col-md-10 mb-md-0">
               <p class="text-center lead">Pricing Changes for 2024 - As of February 2024 our prices will be increasing. We always try to be competitive and fair with our prices however due to rising costs across the board we have had to increase our base servicing costs. Please see the table below for our base costs going forward.</p>
               <table class="table">
  <thead>
    <tr>
      <th scope="col">Service</th>
      <th scope="col">Cost</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Compact Device Service</td>
      <td>£40+VAT</td>
    </tr>
    <tr>
      <td>Suction Device Service</td>
      <td>£100+VAT</td>
    </tr>
    <tr>
      <td>Spray Device Service</td>
      <td>£125+VAT</td>
    </tr>
    <tr>
      <td>Assessment/Minimum Fee Repairs</td>
      <td>£25+VAT</td>
    </tr>
  </tbody>
</table>
                <p class="text-center lead"> Above prices are for device servicing. Repairs are taken on a case by case basis and as such prices may fluctuate greatly. We will always quote for any works above the pre-approved cost selected on the form.</p>
               <p class="text-center d-none"><a href="/html/ManualRepairForm.pdf"> Print me! </a></p>
     </div>
</div>
</div>
</div>
</section>
{{end}}
