{{ if .Site.Data.homepage.testimonial.enable }}
<section class="section rad-animation-group">
    <div class="container">
        <div class="row rad-fade-down">
            <div class="col-1 col-md-1 mb-md-0"></div>
            <div class="col-10 col-md-10 mb-md-0">
            <h2 class="text-center rad-fade-down">Service Changes</h2>
            </div>
        </div>
        <div class="row rad-fade-down">
            <div class="col-1 col-md-1 mb-md-0">
                <p class="text-center"> </p>

            </div>
            <div class="col-10 col-md-10 mb-md-0">
                <p class="text-center"> Please note our repair book in is closed for a couple of days while we catch up with high demand. We apologise for the inconvenience. </p>
            </div>

            <div class="col-1 col-md-1 mb-md-0">
            </div>
            <div class="col-10 col-md-10 mb-md-0">
                <p class="text-center"> We shall soon be pivoting to support fewer makes and models of device going forward. Any devices over 6 years old will no longer be supported. This is due to added difficulty and cost in sourcing parts thanks to our leaving the EU, alongside an abnormally large workload. We shall continue to fully support Hadewe and Saeyang drills, servicing is still available on other devices but please be aware if any parts are needed from the original equipment manufacturer they may take weeks to months to arrive, and also be more expensive due to import taxes. </p>
            </div>
        </div>
</section>
{{end}}